@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Sigmar&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

h1 {
    /*border: 2px solid red;*/
    font-family: 'Sigmar', cursive;
    margin-top: 4rem;

}

img {
    /*border: 2px solid green;*/
}

/* Country name color based on region */
#country-list li p {
    color: black; /* Default color */
}

#country-list li p[style*="color:blue"] {
    color: blue;
}

#country-list li p[style*="color:green"] {
    color: green;
}

#country-list li p[style*="color:red"] {
    color: red;
}

#country-list li p[style*="color:yellow"] {
    color: yellow;
}

#country-list li p[style*="color:purple"] {
    color: purple;